.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--color-blue-primary);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.title-container i {
    width: 45px;
    height: 35px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container p {
    font-size: 21px;
    font-weight: 500;
    margin-inline: 10px;
    margin-bottom: 0;
}

/*Grafic*/
.container-grafic {
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    gap: 20px;
    *flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filters-grafic-container {
    *width: 25%;
    *width: calc(100% - 500px);
    width: 300px;
    min-height: 300px;
    *height: 400px;
    border-radius: 10px;
    box-shadow: 1px 3px 6px rgba(235, 235, 235, 0.3);
    background-image: url(../../../assets/img/markus-winkler-IrRbSND5EUc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-blue-primary);
}
.form-grafic-filter {
    border: 1px solid rgb(195, 195, 195);
    padding: 20px 30px 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(3px);
}
.title-filter-container {
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}
.subtitle-filter-container {
    margin-block: 18px 13px;
    font-weight: 500;
    font-size: 15px;
}
.form-select option {
    height: 20px;
}
.radio-amount-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 4rem), 1fr));
    grid-gap: 10px;
}
.input-container-1 label {
    width: 100%;
    font-size: 15px;
}
.btn-check + .btn {
    color: rgb(54, 54, 54);
    border: 1px solid #fd7986b3;
}
.btn-check:checked+.btn {
    color: black;
    background-color: #fd798680;
}
.btn-container {
    width: 100%;
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container .btn-form-submit {
    border-radius: 0.375rem;
    padding-block: 5px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    margin-inline: 5px;
    padding-inline: 50px;
    color: var(--color-blue-primary);
    border: 1px solid var(--color-blue-primary);
}
.btn-container .btn-form-submit:hover {
    color: white;
    background-color: var(--color-blue-primary);
}


.grafic-container-view {
    display: block;
    width: calc(100% - 320px);
    min-width: 320px;
    *min-height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 3px 6px rgba(235, 235, 235, 0.3);
}
canvas {
    max-height: 400px;
}