<div class="container-footer">
    <div class="container-info">
        <a class="logo-utpl" href="https://www.utpl.edu.ec/" target="_blank"><img src="assets/img/logo_utpl.png" alt="UTPL"></a>
        <div class="container-utpl">
            <div class="container-contact-utpl">
                <p class="country">Ecuador</p>
                <a class="contact" href="https://utpl.edu.ec/centros/" target="_blank">
                    <i class="fa-sharp fa-solid fa-location-dot icon-contact"></i>
                    <p>Centros UTPL</p>
                </a>
                <a class="contact" href="https://utpl.edu.ec/buzon" target="_blank">
                    <i class="fa-solid fa-truck-fast icon-contact"></i>
                    <p>Buzón de consultas</p>
                </a>
                <div class="contact">
                    <i class="fa-solid fa-headset icon-contact"></i>
                    <p>1800 88 75 88</p>
                </div>
                <div class="contact">
                    <i class="fa-solid fa-phone icon-contact"></i>
                    <p>07 370 1444</p>
                </div>
                <a class="contact" href="https://api.whatsapp.com/send?phone=593999565400&text=%C2%A1Hola!%20" target="_blank">
                    <i class="fa-brands fa-whatsapp icon-contact"></i>
                    <p>099 956 5400</p>
                </a>
            </div>
            <div class="container-followUs">
                <p>Síguenos en</p>
                <div class="followUs">
                    <a href="https://es-la.facebook.com/utpl.loja/" target="_blank"><i class="fa-brands fa-square-facebook icon-followUs"></i></a>
                    <a href="https://twitter.com/utpl?lang=es" target="_blank"><i class="fa-brands fa-square-twitter icon-followUs"></i></a>
                    <a href="https://www.youtube.com/user/utpl/" target="_blank"><i class="fa-brands fa-youtube icon-followUs"></i></a>
                    <a href="https://www.instagram.com/utpl/?hl=es-la" target="_blank"><i class="fa-brands fa-square-instagram icon-followUs"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-copyright">
        <div class="copy-icon">
            <i class="fa-regular fa-copyright"></i>
            <p>Copyright {{year}}.</p>
        </div>
        <p>Jdesparza - Universidad Técnica Particular de Loja</p>
    </div>
</div>
