.border-white {
    border: 1px solid white;
}
nav {
    height: 100%;
    color: var(--color-blue-primary);
}
.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 3px;
}
.navbar-btn:hover {
    background-color: rgba(110, 110, 110, 0.2);
    border-radius: 15%;
}
.logo-utpl-img {
    width: 90px;
}
.title-nav {
    border-right: 1.5px solid rgba(110, 110, 110, 0.2);
}
.title-nav, .subtitle-nav {
    color: var(--color-blue-primary);
    font-weight: 400;
    font-size: 20px;
}
.btn-login-container {
    margin-left: auto;
}
.btn-login-container .btn-admin {
    border-color: var(--color-blue-primary);
    color: var(--color-blue-primary);
    font-weight: 400;
}
.btn-login-container .btn-admin:hover {
    background-color: var(--color-blue-primary);
    color: white;
}
.btn-login-container ul li {
    color: var(--color-blue-primary);
}