<app-graph-sensors [infoSensorSmartphone]="infoSensorSmartphone"></app-graph-sensors>

<!--Table-->
<div class="title-container">
    <i class="fa-solid fa-list"></i>
    <p>Datos de Smartphones</p>
</div>
<div class="search-container">
    <input type="text" [formControl]="controlBuscador" placeholder="Buscar...">
    <button *ngIf="isCloseSearch" type="button" (click)="resetSearch()"><i class="fa-solid fa-xmark"></i></button>
</div>
<table class="table"> 
    <thead>
        <tr>
            <th scope="col" rowspan="2">Modelo</th>
            <th scope="col" rowspan="2">Marca</th>
            <th scope="col" rowspan="2">Error (%)</th>
            <th scope="col" rowspan="2">Fabricante</th>
            <th scope="col" rowspan="2">Versión</th>
            <th scope="col" rowspan="2" title="Rango Máximo">Rango Máx.</th>
            <th scope="col" rowspan="2">Potencia</th>
            <th scope="col" rowspan="2">Resolución</th>
            <th scope="col" title="Cálculo Dar 10 Pasos">Cal. Pasos 10</th>
            <th scope="col" title="Cálculo Dar 15 Pasos">Cal. Pasos 15</th>
        </tr>
        
    </thead>
    <tbody *ngIf="tempListSensorSmartphone != undefined">
        <tr *ngFor="let dato of tempListSensorSmartphone">
            <td>{{ dato.modelo }}</td>
            <td>{{ dato.fabricante }}</td>
            <td *ngIf="calSensorExterno != undefined && (dato.sensorPodometro.calPasos_10 != undefined || dato.sensorPodometro.calPasos_15 != undefined)">
                <span matTooltip="{{ errorPercentage(dato) }}">{{ errorPercentage(dato) | number: '.0-4' }}</span>
            </td>
            <td *ngIf="calSensorExterno == undefined || (dato.sensorPodometro.calPasos_10 == undefined && dato.sensorPodometro.calPasos_15 == undefined)">N/A</td>

            <td *ngIf="dato.sensorPodometro.fabricante != undefined">{{ dato.sensorPodometro.fabricante }}</td>
            <td *ngIf="dato.sensorPodometro.fabricante == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.version != undefined">{{ dato.sensorPodometro.version }}</td>
            <td *ngIf="dato.sensorPodometro.version == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.rangoMax != undefined">
                <span matTooltip="{{ dato.sensorPodometro.rangoMax }}">{{ dato.sensorPodometro.rangoMax | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorPodometro.rangoMax == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.potencia != undefined">
                <span matTooltip="{{ dato.sensorPodometro.potencia }}">{{ dato.sensorPodometro.potencia | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorPodometro.potencia == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.resolucion != undefined">
                <span matTooltip="{{ dato.sensorPodometro.resolucion }}">{{ dato.sensorPodometro.resolucion | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorPodometro.resolucion == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.calPasos_10 != undefined">
                <span matTooltip="{{ dato.sensorPodometro.calPasos_10 }}">{{ dato.sensorPodometro.calPasos_10 }}</span>
            </td>
            <td *ngIf="dato.sensorPodometro.calPasos_10 == undefined">N/A</td>

            <td *ngIf="dato.sensorPodometro.calPasos_15 != undefined">
                <span matTooltip="{{ dato.sensorPodometro.calPasos_15 }}">{{ dato.sensorPodometro.calPasos_15 }}</span>
            </td>
            <td *ngIf="dato.sensorPodometro.calPasos_15 == undefined">N/A</td>
        </tr>
    </tbody>
    <tbody *ngIf="tempListSensorSmartphone == 0 || tempListSensorSmartphone == undefined">
        <tr>
            <td colspan="10">No hay Datos</td>
        </tr>
    </tbody>
</table>
