.border-red {
    border: 1px solid red;
}
.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    grid-gap: 20px;
}
.card-sensor {
    border-radius: 8px;
    padding: 3px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .3);
    background-color: white;
    color: black;
}
.card-sensor:hover {
    background-color: #4d77b3;
}
.card-sensor:hover > a p, .card-sensor:hover > a i {
    color: white;
}
.card-sensor a {
    display: block;
    text-decoration: none;
    color: rgb(40, 40, 40);
    padding: 7px;
}
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #545455;
    padding-right: 5%;
}
.title-container p {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0;
    color: rgb(48, 48, 48);
}
.title-container span {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container span img {
    width: 100%;
    filter: invert(57%) sepia(8%) saturate(307%) hue-rotate(189deg) brightness(80%) contrast(81%);
}
.card-sensor:hover > a .title-container span img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
}
.description-container {
    display: flex;
    min-height: 100px;
}
.info-sensor {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-sensor .name-sensor {
    font-style: italic;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}
.info-sensor div .model-smartphone {
    font-weight: 500;
    font-style: unset;
    font-size: 14.5px;
    margin-bottom: 0;
}
.info-sensor div .model-smartphone-title, .info-sensor .sin-model-smartphone {
    font-size: 10px;
    color: rgb(124, 124, 124);
    margin-bottom: 0;
}
.analisis-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.analisis-sensor {
    width: 85px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5px 5px 0 5px;
    margin-block: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(211, 215, 224, 0.3);
}
.card-sensor:hover > a .analisis-container .analisis-sensor {
    border: 1px solid white;
}
.analisis-sensor .error-percentage {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}
.analisis-sensor .error-percentage-title, a .analisis-container .sin-analisis-sensor {
    justify-content: center;
    font-size: 10px;
    color: rgb(124, 124, 124);
    margin-bottom: 0;
}