<app-graph-sensors [infoSensorSmartphone]="infoSensorSmartphone"></app-graph-sensors>

<!--Table-->
<div class="title-container">
    <i class="fa-solid fa-list"></i>
    <p>Datos de Smartphones</p>
</div>
<div class="search-container">
    <input type="text" [formControl]="controlBuscador" placeholder="Buscar...">
    <button *ngIf="isCloseSearch" type="button" (click)="resetSearch()"><i class="fa-solid fa-xmark"></i></button>
</div>
<table class="table"> 
    <thead>
        <tr>
            <th scope="col" rowspan="2">Modelo</th>
            <th scope="col" rowspan="2">Marca</th>
            <th scope="col" rowspan="2">Error (%)</th>
            <th scope="col" title="Cálculo UTPL - La Cruz" colspan="5">Aceleración 1</th>
            <th scope="col" title="Cálculo UTPL - Canchas Deportivas (Al fondo)" colspan="5">Aceleración 2</th>
        </tr>
        <tr>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">Altitud</th>
            <th scope="col">Precisión</th>
            <th scope="col">Velocidad</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">Altitud</th>
            <th scope="col">Precisión</th>
            <th scope="col">Velocidad</th>
        </tr>
        
    </thead>
    <tbody *ngIf="tempListSensorSmartphone != undefined">
        <tr *ngFor="let dato of tempListSensorSmartphone">
            <td>{{ dato.modelo }}</td>
            <td>{{ dato.fabricante }}</td>
            <td *ngIf="calSensorExterno != undefined && (dato.sensorGPS.ubicacion_1 != undefined || dato.sensorGPS.ubicacion_2 != undefined)">
                <span matTooltip="{{ errorPercentage(dato) }}">{{ errorPercentage(dato) | number: '.0-4' }}</span>
            </td>
            <td *ngIf="calSensorExterno == undefined || (dato.sensorGPS.ubicacion_1 == undefined && dato.sensorGPS.ubicacion_2 == undefined)">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_1 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_1.latitud }}">{{ dato.sensorGPS.ubicacion_1.latitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_1 == undefined">N/A</td>
            
            <td *ngIf="dato.sensorGPS.ubicacion_1 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_1.longitud }}">{{ dato.sensorGPS.ubicacion_1.longitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_1 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_1 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_1.altitud }}">{{ dato.sensorGPS.ubicacion_1.altitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_1 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_1 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_1.precision }}">{{ dato.sensorGPS.ubicacion_1.precision | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_1 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_1 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_1.velocidad }}">{{ dato.sensorGPS.ubicacion_1.velocidad | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_1 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_2 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_2.latitud }}">{{ dato.sensorGPS.ubicacion_2.latitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_2 == undefined">N/A</td>
            
            <td *ngIf="dato.sensorGPS.ubicacion_2 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_2.longitud }}">{{ dato.sensorGPS.ubicacion_2.longitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_2 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_2 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_2.altitud }}">{{ dato.sensorGPS.ubicacion_2.altitud | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_2 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_2 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_2.precision }}">{{ dato.sensorGPS.ubicacion_2.precision | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_2 == undefined">N/A</td>

            <td *ngIf="dato.sensorGPS.ubicacion_2 != undefined">
                <span matTooltip="{{ dato.sensorGPS.ubicacion_2.velocidad }}">{{ dato.sensorGPS.ubicacion_2.velocidad | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorGPS.ubicacion_2 == undefined">N/A</td>
        </tr>
    </tbody>
    <tbody *ngIf="tempListSensorSmartphone == 0 || tempListSensorSmartphone == undefined">
        <tr>
            <td colspan="13">No hay Datos</td>
        </tr>
    </tbody>
</table>

