<app-graph-sensors [infoSensorSmartphone]="infoSensorSmartphone"></app-graph-sensors>

<!--Table-->
<div class="title-container">
    <i class="fa-solid fa-list"></i>
    <p>Datos de Smartphones</p>
</div>
<div class="search-container">
    <input type="text" [formControl]="controlBuscador" placeholder="Buscar...">
    <button *ngIf="isCloseSearch" type="button" (click)="resetSearch()"><i class="fa-solid fa-xmark"></i></button>
</div>
<table class="table"> 
    <thead>
        <tr>
            <th scope="col" rowspan="2">Modelo</th>
            <th scope="col" rowspan="2">Marca</th>
            <th scope="col" rowspan="2">Error (%)</th>
            <th scope="col" rowspan="2">Fabricante</th>
            <th scope="col" rowspan="2">Versión</th>
            <th scope="col" rowspan="2" title="Rango Máximo">Rango Máx.</th>
            <th scope="col" rowspan="2">Potencia</th>
            <th scope="col" rowspan="2">Resolución</th>
            <th scope="col" title="Cálculo 1">Iluminación 1</th>
            <th scope="col" title="Cálculo 2">Iluminación 2</th>
        </tr>
    </thead>
    <tbody *ngIf="tempListSensorSmartphone != undefined">
        <tr *ngFor="let dato of tempListSensorSmartphone">
            <td>{{ dato.modelo }}</td>
            <td>{{ dato.fabricante }}</td>
            <td *ngIf="calSensorExterno != undefined && (
                (dato.sensorLuz.iluminacion_1 != undefined && calSensorExterno.cal1 != undefined) || dato.sensorLuz.iluminacion_2 != undefined)">
                <span matTooltip="{{ errorPercentage(dato) }}">{{ errorPercentage(dato) | number: '.0-4' }}</span>
            </td>
            <td *ngIf="calSensorExterno == undefined || (dato.sensorLuz.iluminacion_1 == undefined && dato.sensorLuz.iluminacion_2 == undefined)">N/A</td>

            <td *ngIf="dato.sensorLuz.fabricante != undefined">{{ dato.sensorLuz.fabricante }}</td>
            <td *ngIf="dato.sensorLuz.fabricante == undefined">N/A</td>

            <td *ngIf="dato.sensorLuz.version != undefined">{{ dato.sensorLuz.version }}</td>
            <td *ngIf="dato.sensorLuz.version == undefined">N/A</td>

            <td *ngIf="dato.sensorLuz.rangoMax != undefined">
                <span matTooltip="{{ dato.sensorLuz.rangoMax }}">{{ dato.sensorLuz.rangoMax | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorLuz.rangoMax == undefined">N/A</td>

            <td *ngIf="dato.sensorLuz.potencia != undefined">
                <span matTooltip="{{ dato.sensorLuz.potencia }}">{{ dato.sensorLuz.potencia | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorLuz.potencia == undefined">N/A</td>

            <td *ngIf="dato.sensorLuz.resolucion != undefined">
                <span matTooltip="{{ dato.sensorLuz.resolucion }}">{{ dato.sensorLuz.resolucion | number: '.0-5' }}</span>
            </td>
            <td *ngIf="dato.sensorLuz.resolucion == undefined">N/A</td>

            <td *ngIf="dato.sensorLuz.iluminacion_1 != undefined">
                <span matTooltip="{{ dato.sensorLuz.iluminacion_1 }}">{{ dato.sensorLuz.iluminacion_1 | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorLuz.iluminacion_1 == undefined">N/A</td>
            
            <td *ngIf="dato.sensorLuz.iluminacion_2 != undefined">
                <span matTooltip="{{ dato.sensorLuz.iluminacion_2 }}">{{ dato.sensorLuz.iluminacion_2 | number: '.0-2' }}</span>
            </td>
            <td *ngIf="dato.sensorLuz.iluminacion_2 == undefined">N/A</td>
        </tr>
    </tbody>
    <tbody *ngIf="tempListSensorSmartphone == 0 || tempListSensorSmartphone == undefined">
        <tr>
            <td colspan="10">No hay Datos</td>
        </tr>
    </tbody>
</table>

